<!-- -->

<launch>
  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find zzangdol_cartographer)/configuration_files
          -configuration_basename zzangdol_mapping1.lua"
      output="screen">
    <remap from="imu" to="imu/data" />
  </node>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.025" />

  <node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find zzangdol_cartographer)/rviz/cartographer_2d.rviz" />
e
</launch>
